.topnav {
  overflow: hidden;
  background-color: #014579;
  margin-left: 100;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #09037c;
  color: rgb(234, 224, 224);
}

.topnav a.active {
  background-color: #012372;
  color: white;
}
